/* style.css */

/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.logo {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Comic Sans MS", cursive;
    position: relative;
    display: inline-block;
}

.logo a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, #fff, #ff9e00, #ffea00, #f4ff00, #9aff00, #00ff87, #00ffff); /* Jasne kolory */
    background-clip: text;
    -webkit-background-clip: text;
    animation: rainbow 2s linear infinite; /* Dodano animację kolorowego tekstu */
}

@keyframes rainbow {
    0% { color: #fff; }
    14% { color: #ff9e00; }
    28% { color: #ffea00; }
    42% { color: #f4ff00; }
    57% { color: #9aff00; }
    71% { color: #00ff87; }
    85% { color: #00ffff; }
    100% { color: #fff; }
}

.logo a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Dodano efekt podświetlenia */
    animation-play-state: paused; /* Zatrzymuje animację po najechaniu myszką */
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Dodano odstęp od góry */
}

.nav-menu li {
    margin-right: 30px; /* Zwiększono odstęp między elementami */
}

.nav-menu li:last-child {
    margin-right: 0; /* Usunięto margines po prawej stronie ostatniego elementu */
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
    text-transform: uppercase; /* Dodano konwersję na duże litery */
    position: relative;
}

.nav-menu li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #007bff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-menu li a:hover {
    color: #007bff;
}

.main-content {
    padding: 20px;
}

/* Style dla stopki */
/* Style dla stopki */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}


/* Dodajemy styl dla rozwijanego menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #343A40; /* Zmieniamy kolor tła na ciemny */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2; /* Zwiększamy indeks z, aby menu było na wierzchu */
    opacity: 0; /* Ustawiamy początkową przezroczystość na 0 */
    transition: opacity 0.3s ease; /* Dodajemy animację przejścia */
}

.dropdown-content a {
    color: #fff; /* Zmieniamy kolor czcionki na biały */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555; /* Dodajemy efekt przy najechaniu na opcję */
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; /* Zwiększamy przezroczystość na 1, aby menu pojawiło się płynnie */
}

.dropdown-menu {
    position: absolute;
    background-color: #343a40; /* Kolor tła menu */
    border-radius: 0 0 20px 20px; /* Zakrzywienie dolnych krawędzi */
    overflow: hidden; /* Ukrycie elementów, które wystają poza zakrzywione krawędzie */
    transform: translateY(-10px); /* Początkowo przesuń menu w górę */
    transition: transform 0.5s ease-in-out; /* Dodaj animację */
}

.nav-menu li:hover .dropdown-menu {
    transform: translateY(0); /* Po najechaniu przesuń menu do pozycji wyjściowej */
}
